body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
header,
input {
    padding: 0;
    margin: 0;
}

button,
input {
    outline: none;
    border: none;
}

button{
    cursor: pointer;
}
a {
    text-decoration: none;
}

li{
    list-style: none;
}
.icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee4e4;
    overflow: hidden;
    background: url("../images/bg.jpg");
}

.main_body {
    flex: 0 0 1080px;
    background-color: #ffffff;
    /* height: 1080px; */
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}

header {
    height: 56px;
    background-color: #e0688a;
    display: flex;
}

.center {
    display: flex;
}

.menu {
    flex: 0 0 200px;
    /* background: #3172c7; */
    /* height: 1080px; */
    overflow: hidden auto;
    border-right: 1px solid #e0e0e0;
}

#content {
    flex: 1;
    overflow: hidden auto;
    /* background: #a431c7; */
}

#player {
    width: 1080px;
    height: 62px;
/*     position: fixed;
    bottom: 0;
    left: auto; */
    background: #66ccff;
}



.logo {
    flex: 0 0 200px;
    /* background-color: #1693b9; */
    background: url(../images/1.svg) no-repeat 24px center;
    background-size: 60% 60%;
}

.search_box {
    flex: 0 0 420px;
    /* background-color: #ae12d4; */
    line-height: 56px;
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.search_box button {
    font-size: 14px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    color: #fff;
    background: rgba(190, 196, 201, 0.192);
    text-align: center;
    line-height: 24px;
}

.b_f {
    display: inline-block;
    width: 64px;
}

.search {
    flex: 0 0 200px;
    display: inline-block;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    background: rgba(190, 196, 201, 0.192);
    /* background: #1693b9; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-right: 12px;
}

.search label {
    padding-left: 10px;
    flex: 0 0 20px;
}

.search input {
    padding-left: 12px;
    flex: 1;
    background: #00000000;
    color: #fff;
}

button.listening {
    margin-left: 12px;
    flex: 0 0 32px;
    line-height: 32px;
    height: 32px;
}

.header_right {
    flex: 2;
    /* background: #731efd; */
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.operate_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.operate_button span {
    color: #ffffffc0;
    width: 20px;
    text-align: center;
}

.operate_button button {
    color: rgb(240, 233, 233);
    width: 28px;
    height: 28px;
    margin: 2px;
    background: #00000000;
}

.operate_button button:hover,
.user_button:hover {
    color: rgb(255, 255, 255);
}

.user_button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    color: #ffffffcb;
}

.username {
    width: 46px;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: url("http://p1.music.126.net/HqYJ_Y-YvaLPO3K3Lkq9lw==/109951165259671080.jpg") no-repeat;
    background-size: 32px 32px;
}

#show-song-list{
    width: 400px;
    height: 800px;
    /* background: #33e3f0; */
    position: fixed;
    /* right: 0; */
    bottom: auto;
}

#dialog{
    position: fixed;
    z-index: 999;
    width: 200px;
    height: 40px;
    background: #201f22c7;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    color: #ebdcdc;
}