.menu li {
    list-style: none;
}

.menu ul {
    /*右边菜单本单*/
    width: 180px;
    padding-left: 12px;
    margin-top: 10px;
    /* background: #31c774; */
    height: 630px;
}

.menu a {
    /*菜单列表*/
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    color: #373737;
    text-align: center;
    width: 95%;
    height: 30px;
    line-height: 30px;
    padding: 2px;
    text-align: start;
    padding-left: 10px;
    margin: 1px 0 1px 0;
    /* background: #29c9df; */
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu a:hover,
.menu li:nth-child(1) a {
    /*菜单透明浅灰背景*/
    background: rgba(214, 202, 202, 0.295);
}

.menu .zt_gl {
    /*菜单字体高亮*/
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.menu_song::before {
    content: "🎵 ";
}

.menu span {
    font-size: 12px;
    color: #807a7a;
    width: 88%;
    padding-left: 6%;
    line-height: 28px;
}

.menu::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

.menu:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #cec4c4;
}
