#songlist{
    height: 200px;

}

#list_info{
    display: flex;

}
#list_img{
    flex: 0 0 186px;
    margin: 32px 20px 0 30px;
    height: 186px;
    width: 186px;
    background: #00ffcc;
    border-radius: 3px;
}

#songlist_info{
    margin: 32px 0 0 0;
}
#songlist_info h2{
    line-height: 32px;
    height: 32px;
    font-size: 22px;
    margin: 0;
    /* margin-bottom: 10px; */
}

#songlist_info h2::before{
    width: 36px;
    height: 18px;
    text-align: center;
    display: inline-block;
    line-height: 18px;
    margin: 2px 10px 0 0;
    content: "歌单";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #ff5c98;
    border: 1px solid #ff5c98;
    border-radius: 2px;
    vertical-align: text-top;
    /* margin: auto 0; */
}
.avatar_1{
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    color: #507daf;
}
.avatar_1::before{

    display: inline-block;
    content: "";
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: url("http://p1.music.126.net/axewGX7u9P9Iuqjep-3mmQ==/109951165601796681.jpg") no-repeat;
    background-size: 22px 22px;
    margin-right: 6px;
    /* line-height: 32px; */
    vertical-align:middle;
}

.create_time{
    font-size: 13px;
    margin-left: 4px;
}

#songlist_info button{
    /* margin-right: 12px; */
    margin: 6px 12px 12px 0;
    /* padding: 10px; */
    padding: 0 20px 0 24px;
    border-radius: 18px;
    /* background: #ffffff; */
    border: 1px solid #d8d8d8;
    height: 32px;
    line-height: 30px;
    background: #ffffff;
    color: #2e2e2e;
}

button#play_all{
    background: #ea507e;
    color: #fafafa;
}
#play_all::before{
    content: "▶ ";
}
#play_all::after{
    display: inline-block;
    content: "▶ ";
    margin-left: 10px;
    padding-left: 10px;
    /* line-height: 32px; */
    border-left: 1px solid #dacece80;
}

button#favorite_list{
    color: #aca1a1;
}

#favorite_list::before{
    content: "♗ ";
}

#share_list::before{
    content: "♂ ";
}

#download_all::before{
    content: "⏬ ";
    /* vertical-align: top; */
    line-height: 28px;
}

#songlist_statistics_info{
    padding: 0.5em;
    font-size: 12px;
    color: #2e2e2e;
}