<head>
    <link rel="stylesheet" href="static/css/player.css">
</head>

<body>
    <div id="song_detail">
        <div id="song_pic"><img src="" alt=""></div>
        <div id="song_info">
            <span id="song_name">二人三角 (Love Theory Ver.)</span>
            <span id="song_author">阿良良木健</span>
        </div>
    </div>
    <div id="player_control">
        <div id="player_control_button">
            <button id="player_mode">
                <svg class="icon svg-icon" aria-hidden="true">
                    <use xlink:href="#icon-xindong"></use>
                </svg>
            </button>
            <button id="player_prev">
                <svg class="icon svg-icon" aria-hidden="true">
                    <use xlink:href="#icon-prev"></use>
                </svg>
            </button>
            <button id="player_play">
                <svg class="icon svg-icon" aria-hidden="true">
                    <use xlink:href="#icon-bofang"></use>
                </svg>
            </button>
            <button id="player_next">
                <svg class="icon svg-icon" aria-hidden="true">
                    <use xlink:href="#icon-next"></use>
                </svg>
            </button>
            <button id="player_lyric">词</button>
        </div>
        <div id="player_progress">
            <span>00:00</span>
            <div id="song_progress">
                <div class="progress-bar" id="song_bar">
                    <div class="progress-thumb song_thumb_dot" id="song_thumb"></div>
                </div>
            </div>
            <span>04:50</span>
        </div>
    </div>
    <div id="other_features">
        <span>极高</span>
        <span id="volume_icon"><svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-yinliang"></use>
            </svg></span>
        <div class="progress-bar" id="volume_bar">
            <div class="progress-thumb" id="volume_thumb"></div>
        </div>
        <span id="song_list_show"> <svg class="icon svg-icon" aria-hidden="true">
                <use xlink:href="#icon-bofangliebiao"></use>
            </svg>
            </span>
        <audio id="playerr" src=""></audio>
    </div>
</body>