<head>
    <link rel="stylesheet" href="static/css/search.css">
</head>

<body>
    <h3 id="search-counters">找到<span>300</span>首单曲</h3>
    <div class="search-nav">
        <ul>
            <li><span class="active">单曲</span></li>
            <li><span>歌手</span></li>
            <li><span>专辑</span></li>
            <li><span>视频</span></li>
            <li><span>歌单</span></li>
            <li><span>歌词</span></li>
            <li><span>博客</span></li>
            <li><span>用户</span></li>
        </ul>
    </div>
    <div class="search-data">
        <div class="search-singe">
            <ul>
                <li>
                    <span>
                    </span>
                    <span>音乐标题</span>
                    <span>歌手</span>
                    <span>专辑</span>
                    <span>时长</span>
                </li>
                <li>
                    <span><span><svg class="icon svg-icon" aria-hidden="true">
                                <use xlink:href="#icon-xihuan"></use>
                            </svg><svg class="icon svg-icon" aria-hidden="true">
                                <use xlink:href="#icon-xiazai"></use>
                            </svg></span></span>
                    <span>七秒之恋</span>
                    <span>洛天依</span>
                    <span>洛天依作品集</span>
                    <span>04:48</span>
                </li>
                <li>
                    <span><span><svg class="icon svg-icon" aria-hidden="true">
                                <use xlink:href="#icon-xihuan"></use>
                            </svg><svg class="icon svg-icon" aria-hidden="true">
                                <use xlink:href="#icon-xiazai"></use>
                            </svg></span></span>
                    <span>七秒之恋</span>
                    <span>洛天依</span>
                    <span>洛天依作品集</span>
                    <span>04:48</span>
                </li>
                <li>
                    <span><span><svg class="icon svg-icon" aria-hidden="true">
                                <use xlink:href="#icon-xihuan"></use>
                            </svg><svg class="icon svg-icon" aria-hidden="true">
                                <use xlink:href="#icon-xiazai"></use>
                            </svg></span></span>
                    <span>七秒之恋</span>
                    <span>洛天依</span>
                    <span>洛天依作品集</span>
                    <span>04:48</span>
                </li>
            </ul>
        </div>
        <div class="search-singer">

        </div>
        <div class="search-album">

        </div>
        <div class="search-videos">

        </div>
        <div class="search-song-list">

        </div>
    </div>
</body>